@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Proprietatea este deja inchiriata pe perioada selectata, va rugam selectati alta perioada.</h2>





