@page


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="js/bootstrap.bundle.js"></script>
    <title>Proiect</title>
</head>
<body>
    <main>
        <div class="container-fluid">
            <img src="~/poze/cazino.jpg" alt="" id="cazino">
            <div class="centered">
                <p id="Bine-ati-venit">Bine ati venit!</p>
            </div>
        </div>
        <div class="list-group mt-3">
            <div class="list-group-item">Filimon David-Christian</div>
            <div class="list-group-item">Dulce Matei-Ionut</div>
            <div class="list-group-item">Duduta Denis-Florin</div>
        </div>
    </main>


    <script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>


